.homework-type-select {
  @include scrollHide;
  height: 100%;
  overflow-y: auto;
  .common-drag-content {
    float: left;
  }
  .types-area {
    height: 200px;
    display: flex;
    justify-content: space-around;
    @include disableUserSelect();
    .type {
      width: 20%;
      position: relative;
      height: 100%;
      .question-drop-box {
        height: 78%;
        width: 100%;
        padding: 10px 25px 8px 25px;
        overflow: hidden;
        .item-box {
          width: 47%;
          height: 47%;
          position: relative;
          margin-bottom: 3%;
          @include disableUserSelect();
          &:nth-child(2n + 1) {
            margin-right: 6%;
          }
          .drag-item {
            width: 100%;
            height: 100%;
            font-size: 12px;
            @include disableUserSelect();
          }
        }
      }
      .drop-box-bg {
        width: 90%;
        height: 90%;
        margin-left: 5%;
        margin-top: 5%;
        background: url("../images/homework/typeSelect/img_fenlei_basket_bg@2x.png") no-repeat;
        background-size: 100% 100%;
        background-position: center;
      }
      .drop-box-bg.touch-enter {
        width: 100%;
        height: 100%;
        margin: 0;
      }
      .type-title {
        height: 18%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include disableUserSelect();
        .text-box {
          width: 76%;
          margin-left: 12%;
          text-align: center;
          font-size: 15px;
          line-height: 18px;
          color: #AC6614;
          font-weight: 600;
          word-break: break-all;
          @include disableUserSelect();
        }
      }
    }
  }
  .items-area {
    //height: 250px;
    width: 94%;
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 8px;
    background-color: #F4F5F7;
    overflow-y: auto;
    @include utils-scrollbar();
    @include disableUserSelect();
    .items-row {
      width: 96%;
      margin-left: 2%;
      background: url("../images/homework/typeSelect/img_fenlei_bookshelf@2x.png") no-repeat;
      background-size: 100% 30%;
      background-position: center bottom;
      height: 155px;
      padding: 20px;
      position: relative;
      @include disableUserSelect();
      .item-box {
        float: left;
        margin: 16px;
        position: relative;
        @include disableUserSelect();
      }
    }
  }
}
.homework-type-select.test {
  display: flex;
  flex-direction: column;
  .question {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 440px;
    .items-area {
      flex: 1;
    }
    .class-result-area {
      display: none;
    }
  }
}
.homework-type-select.report {
  .question {
    .type-select-option.wrong {
      border: 3px #FF6969 solid;
    }
    .class-result-area {
      height: 40px;
      display: flex;
      justify-content: space-around;
      .class-result-item {
        flex: 1;
        height: 100%;
        &.wrong {
          background: url("../images/homework/report/icon_report_wrong_middle@2x.png") no-repeat center;
          background-size: contain;
        }
        &.right {
          background: url("../images/homework/report/icon_report_right_middle@2x.png") no-repeat center;
          background-size: contain;
        }
      }
    }
    .items-area {
      display: none;
    }
  }
}
.type-select-option {
  height: 94px;
  width: 94px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  color: #617686;
  font-size: 20px;
  font-weight: bold;
  @include disableUserSelect();
  .type-select-option-main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    @include disableUserSelect();
    text-align: center;
  }
  .item-img {
    width: 80%;
    max-height: 80%;
    margin-right: 0;
    @include disableUserSelect();
  }
}
.type-select-option.moving-clone-source {
  height: 110px;
  width: 110px;
  overflow: hidden;
  @include disableUserSelect();
}
.select-option-mengban {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  @include disableUserSelect();
}
