@mixin utils-user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
  -webkit-touch-callout: $value;
  -khtml-user-select: $value;
  user-select: $value;
}

@mixin utils-clearfix {
  $selector: &;

  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: table;
      content: "";
    }
    #{$selector}::after {
      clear: both
    }
  }
}

@mixin utils-vertical-center {
  $selector: &;

  @at-root {
    #{$selector}::after {
      display: inline-block;
      content: "";
      height: 100%;
      vertical-align: middle
    }
  }
}

@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin utils-background($name, $path) {
  $index: str_index($name, '.');
  $imageName: str-slice($name, 0, $index - 1);
  $imageType: str-slice($name, $index, -1);
  $url: $path + $name;
  $url2: $path + $imageName + '@2x' + $imageType;
  background: url($url) no-repeat;
  background: -webkit-image-set(
      url($url) 1x,
      url($url2) 2x
  ) no-repeat;
  background-size: 100% auto;
}

@mixin utils-flex($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin utils-scrollbar {
  &::-webkit-scrollbar{
    width: 9px;
    height: 10px;
    padding-top: 0;
    &-track, &-button, &-track-piece, &-corner {
      display: none;
    }
    &-thumb {
      border-radius:10px;
      height: 30px;
      width: 5px;
      border: none;
      background: #ddd;
    }
    &-track-piece {
      display: none;
    }
  }
}
@mixin utils-ellipsis($line: 2) {
  @if $line == 1 {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
  }
}
