.answer-correct {
  margin-top: 50px;
  .title {
    width: 92%;
    margin-left: 4%;
    background: url("../images/homework/report/icon_report_answer@2x.png") no-repeat;
    background-size: contain;
    line-height: 25px;
    font-size: 22px;
    font-weight: bold;
    padding-left: 30px;
    margin-bottom: 20px;
  }
}
