@font-face {
  font-family: 'HYZhengYuan';
  src: local('HYZhengYuan-65W'),
       url('./fonts/HYZhengYuan-65W.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal;
  //unicode-range: U+4E00-9FA5; /*  */
}
