@import "../mixins/mixins";
@import "../mixins/utils";

@include b(report-staged) {
  height: 100%;
  font-family: HYZhengYuan-HEW HYZhengYuan sans-serif;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  @include e(top) {
    position: relative;
    height: 345px;
    background: linear-gradient(180deg, rgba(139,176,255,1), rgba(235,247,243,1));
    overflow: hidden;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 176px;
      background-image: url(../assets/evaluation-report--staged/img_head@2x.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 0 bottom;
      z-index: 1;
    }
  }
  @include e(bottom) {
    width: 100%;
    height: 194px;
    background-image: url(../assets/evaluation-report--staged/img_lawn@2x.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(177,212,63,1);
  }
  @include e(title) {
    width: 606px;
    margin-top: 57px;
  }
  @include e(cloud) {
    @include m(left) {
      position: absolute;
      top: 78px;
      left: -29px;
      height: 89px;
    }
    @include m(right) {
      position: absolute;
      top: 71px;
      right: -38px;
      height: 56px;
    }
  }
  @include e(container) {
    // height: 6012px;
    background: rgba(177,212,63,1);
    padding: 0 36px 36px;
    @include e(user-info) {
      @include utils-flex();
      position: relative;
      margin-top: -37px;
      z-index: 2;
    }
    @include e(board) {
      margin-top: 20px;
    }
    @include e(performance) {
      padding-bottom: 110px;
    }
    @include e(performance-text) {
      @include flex(center);
      color:rgba(125,88,45,1);
      line-height:32px;
      font-size: 30px;
      p {
        padding: 0 34px;
        &.despice {
          padding-right: 22px;
        }
        i{
          display: inline-block;
          vertical-align: top;
          margin: 3px 0px 0px 12px;
          // margin-right: 8px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-image: url(../assets/evaluation-report--staged/img_help@2x.png);
          background-position: center center;
          background-size: cover;
          // margin-left: 12px;
        }
      }
      &::before, &::after {
        content: "";
        width: 164px;
        height: 22px;
      }
      &::before {
        background: url(../assets/evaluation-report--staged/img_line_left@2x.png) no-repeat;
        background-size: 100% 100%;
      }
      &::after {
        background: url(../assets/evaluation-report--staged/img_line_right@2x.png) no-repeat;
        background-size: 100% 100%;
      }
    }
    @include e(performance-star) {
      width: 683px;
      height: 272px;
      margin: 52px auto 77px;
      background: url(../assets/evaluation-report--staged/bg_achievement@2x.png) no-repeat;
      background-size: 100% 100%;
      overflow: hidden;
    }
    @include e(performance-star-bar) {
      @include utils-flex(center);
      width: 529px;
      height: 134px;
      margin: 137px auto 0;
    }
    @include e(performance-star-item) {
      width: 75px;
      height: 75px;
      margin-right: 3.5px;
      margin-left: 3.5px;
      @include m(mt20) {
        margin-top: 20px !important;
      }
      @include m(mt40) {
        margin-top: 40px !important;
      }
      @include m(mt50) {
        margin-top: 50px !important;
      }
    }
    @include e(performance-result) {
      @include utils-flex(center);
      margin-top: 48px;
    }
    @include e(result-panel) {
      @include utils-flex($align: center);
      width: 360px;
      height: 186px;
      padding: 34px;
      background:rgba(255,244,200,1);
      border-radius:20px;
      margin: 0 23px;
    }
    @include e(result-icon) {
      width: 119px;
      margin-right: 10px;
    }
    @include e(result-value) {
      color:rgba(255,89,0,1);
      font-size: 60px;
      line-height: 80px;
      i {
        font-style: normal;
        font-size: 20px;
      }
    }
    @include e(result-text) {
      font-size: 20px;
      color: rgba(125,88,45,1);
      line-height: 32px;
    }
    @include e(answer-details) {
      padding-bottom: 61px;
    }
    @include e(answer-details-distinguish) {
      @include flex(flex-start, center);
      font-size: 26px;
      margin-left: 30px;
      margin-bottom: 80px;
      font-family: HYZhengYuan-FEW;
      color:rgba(125,88,45,1);
    }
    @include e(answer-details-item) {
      @include flex(space-between, center);
      margin-left: 60px;
    }
    @include e(answer-details-item-icon) {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      background-position: center center;
      background-size: contain;
      @include m(right) {
        background-image: url(../assets/evaluation-report--staged/icon_report_right_40@2x.png);
      }
      @include m(wrong) {
        background-image: url(../assets/evaluation-report--staged/icon_report_wrong_40@2x.png);
      }
      @include m(dismiss) {
        background:rgba(244,244,244,1);
      }
    }
    @include e(answer-details-canjump) {
      display: flex;
      flex-flow: wrap;
      padding-right: 23px;
      margin-left: 25px;
      margin-bottom: 75px;
    }
    @include e(answer-details-jumpitem) {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      color:rgba(153,153,153,1);
      background:rgba(244,244,244,1);
      font-size: 22px;
      font-family: PingFangSC-Semibold;
      font-weight: 600;
      line-height: 52px;
      margin-right: 36px;
      margin-bottom: 36px;
      // &:nth-of-type(10n) {
      //   margin-right: 0;
      // }
      @include m(correct) {
        color: #69B618;
        background: #E7FFF2 url(../assets/answer-sheet/icon-correct@2x.png) no-repeat center bottom;
        background-size: 60% auto;
      }
      @include m(incorrect) {
        color: #EF4C4F;
        background: #FFE7E7 url(../assets/answer-sheet/icon-incorrect@2x.png) no-repeat center bottom;
        background-size: 60% auto;
      }
    }
    @include e(answer-details-button) {
      position: relative;
      font-size: 24px;
      font-family: HYZhengYuan-HEW;
      color: #ffffff;
      width: 200px;
      height: 56px;
      background: rgba(255,94,101,1);
      box-shadow: 0px -5px 0px 0px rgba(247,73,81,1);
      border-radius: 32px;
      &:after {
        position: absolute;
        right: 12px;
        top: 6px;
        content: '';
        width: 4px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        transform: rotate(-53deg);
      }
    }
    @include e(knowledge) {
      padding-bottom: 36px;
    }
    @include e(knowledge-wrapper) {
      display: flex;
      justify-content: space-between;
    }
    @include e(knowledge-text) {
      margin: 83px 0px 0px 100px;
      flex: 0 0 350px;
      width: 350px;
    }
    @include e(knowledge-detail) {
      // @include flex(space-between, center);
      // display: table;
      font-size: 20px;
      color: #7D582D;
      font-family: HYZhengYuan-FEW;
      font-weight: normal;
      margin-bottom: 32px;
      text-align: left;
      span {
        display: inline-block;
        line-height: 20px;
        vertical-align: top;
      }

    }
    @include e(knowledge-circle) {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 12px;
      border-radius: 50%;
      vertical-align: top;
      @include m(ok) {
        background-color:#1BD70C;
      }
      @include m(notok) {
        background-color: #FF6963;
      }
      @include m(can) {
        background-color: #FFC122;
      }
    }
    @include e(knowledge-img) {
      // display: inline-block;
      // text-align: left;
      margin-top: 120px;
      width: 200px;
      height: 188px;
      background-image: url(../assets/evaluation-report--staged/img_small_zxm@2x.png);
      background-position: top left;
      background-size: 200px 188px;
    
    }
    @include e(knowledge-echars) {
      margin: 84px 0px 0px 100px;
      // width: 650px;
      height: 450px;
    }
    @include e(ability) {
      padding-bottom: 89px;
    }
    @include e(ability-title) {
      margin-top: 56px;
      display: flex;
      font-size: 26px;
      font-family: HYZhengYuan-HEW;
      font-weight: normal;
      color:rgba(125,88,45,1);
      height: 94px;
      line-height: 94px;
      background-color: #FFE664;
      border-radius: 30px 30px 0px 0px;
    }
    @include e(ability-text) {
      // flex: 0 0 25%;
      // width: 25%;
      flex: 1;
      text-align: center;
    }
    @include e(ability-list) {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-family: HYZhengYuan-FEW;
      font-weight: normal;
      color:rgba(125,88,45,1);
      background-color: #FFF8D1;
      &:nth-child(2n) {
        background-color: #FFFFED;
      }
    }
    @include e(ability-item) {
      flex: 0 0 25%;
      width: 25%;
      text-align: center;
      padding: 26px 30px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      @include m(temp) {
        text-align: left;
        white-space: wrap;
      }
    }
    @include e(ability-item-icon) {
      width: 34px;
      height: 34px;
      margin-right: 16px;
      background-position: top left;
      background-repeat: no-repeat;
      background-size: contain;
      @include m(know) {
        background-image: url(../assets/evaluation-report--staged/icon-know@2x.png);
      }
      @include m(unknow) {
        background-image: url(../assets/evaluation-report--staged/icon-unknow@2x.png)
      }
      @include m(general) {
        background-image: url(../assets/evaluation-report--staged/icon-general@2x.png)
      }
    }
    @include e(line) {
      padding-bottom: 54px;
      box-sizing: border-box;
    }
    @include e(line-wrapper) {
      margin-top: 80px;
      height: 530px;
    }
    @include e(next) {
      padding-bottom: 90px;
    }
    @include e(next-title) {
      margin-top: 51px;
      font-size: 26px;
      font-family: HYZhengYuan-HEW;
      font-weight: normal;
      color:rgba(125,88,45,1);
      display: flex;
      height: 94px;
      line-height: 94px;
      border-radius: 30px 30px 0px 0px;
      background-color: #FFE664;
    }
    @include e(next-text) {
      flex: 1;
    }
    @include e(next-list) {
      display: flex;
      height: 84px;
      font-size: 20px;
      color: #7D582D;
      background-color: #FFF8D1;
      justify-content: center;
      align-items: center;
      &:nth-child(2n) {
        background-color: #FFFFED;
      }
    }
    @include e(next-list-text) {
      color: #7D582D;
      flex: 1;
    }
  }
  @include e(masker) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,0.7);
    z-index: 99;
    display: flex;
    justify-content: center;
  }
  @include e(masker-content) {
    position: relative;
    margin-top: 80px;
    width: 600px;
    height: 620px;
    border-radius: 30px;
    padding: 0px 12px 12px;
    background-color: #6086FF;
    box-sizing: border-box;
  }
  @include e(masker-title) {
    height: 62px;
    font-size: 32px;
    font-family: HYZhengYuan-HEW;
    font-weight:normal;
    color:#fff;
    line-height: 62px;
  }
  @include e(masker-continer) {
    width: 100%;
    height: 514px;
    background-color: #fff;
    border-radius: 0px 0px 30px 30px;
    box-sizing: border-box;
    padding: 30px 30px 30px 25px; 
    overflow-y: scroll;
  }
  @include e(masker-list) {
    text-align: left;
    font-size: 22px;
    line-height:33px;
    font-family: HYZhengYuan-FEW;
    color: #666666;
    margin-bottom: 28px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @include e(masker-type) {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url(../assets/evaluation-report--staged/img_big_star_fill@2x.png);
    background-position: center center;
    background-size: cover;
    @include m(silver2) {
      &:last-child {
        background-image: url(../assets/evaluation-report--staged/img_pop_star@2x.png);
      }
    }
    @include m(silver3) {
      &:nth-child(n + 4) {
        background-image: url(../assets/evaluation-report--staged/img_pop_star@2x.png);
      }
    }
    @include m(silver4) {
      &:nth-child(n + 3) {
        background-image: url(../assets/evaluation-report--staged/img_pop_star@2x.png);
      }
    }
    @include m(silver5) {
      &:nth-child(n + 2) {
        background-image: url(../assets/evaluation-report--staged/img_pop_star@2x.png);
      }
    }
  }
  @include e(masker-bigwrap) {
    position: absolute;
    top: -35px;
    right: -50px;
    width: 100px;
    height: 100px;
    background-color: transparent;
  }
  @include e(masker-close) {
    // position: absolute;
    // top: -20px;
    // right: -20px;
    position: relative;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-image: url(../assets/evaluation-report--staged/icon_report_wrong_40@2x.png);
    background-position: center center;
    background-size: cover;
    &:after {
      position: absolute;
      right: 10px;
      top: 7px;
      content: '';
      width: 4px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      transform: rotate(-53deg);
    }
  }
}
