<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="format-detection" content="telephone=yes">
  <meta name="referrer" content="no-referrer">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>补课须知</title>
</head>
<body>
<div class="tips-for-remedial-classes">
  <h4>补课须知</h4>
  <p>1、正式课请假缺勤后，可在1年内进行补课。</p>
  <p>2、补课形式：可以插班参加直播补课，也可以选择AI互动课补课，两者可任选其一；</p>
  <p>3、插班直播补课仅支持当周补课，可在【掌门少儿】APP的课表中，选择补课按钮进行申请；</p>
  <p>4、使用AI互动课补课，优先扣除赠送的AI互动课课时次数1次；若无AI互动课课时赠送次数，则默认扣除正式课0.5课时；课时扣除成功后，该节课可进行无限次补课。</p>
  <p></p>
</div>
</body>
</html>
